.CreateAccount {
  max-width: 36rem;
  margin: 1rem auto;
  padding: 1em;
  background-color: $color-white;
  border: 1px solid #eee;
  @include MQ(M) {
    padding: 2em;
  }
  &__title {
    color: $color-blurt-black;
    font-weight: bold;  
    padding-top: 8px;
  }
  p {
    line-height: 1.3;
  }
  &__btn {
    @extend .e-btn;
    margin-top: 8px;
    text-transform: capitalize;
  }
  input[type=submit].disabled, input[type=submit].disabled:focus {  
    opacity: 0.2;
    background-color: $color-blurt-black;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  }
  &__step {
    padding-top: 2em;
  }
  .button, .button.g-recaptcha {
    @extend .e-btn;
    @extend .e-btn--black;
  } 
}


.CreateAccount__rules {
  opacity: 0.5;
  p {
    text-align: center;
  }
}

.CreateAccount__rules-button {
  background-color: #f2f2f2;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  font-size: 0.8rem;
  color: $dark-gray;
  @include themify($themes) {
    color: themed('textColorSecondary');  
  }   
}


.theme-dark {
  .CreateAccount {
    p {
      color: $color-blurt-black;
    }
    label {
     color: $color-blurt-black; 
    }
    .error p, .error label {
      color: $color-red;
    }
  }
}

  
