.Witnesses {
	.extlink path {
		transition: 0.2s all ease-in-out;
	     @include themify($themes) {
	       fill: themed('textColorAccent');
	    }
	}
	a:hover .extlink path {
		transition: 0.2s all ease-in-out;
	     @include themify($themes) {
	       fill: themed('textColorAccentHover');
	    }
	}
    table tbody tr.Witnesses__highlight {
        background-color: pink;
    }
    table tbody td:nth-of-type(4) {
        display: none;
    }
    td.Witnesses__info {
        display: flex;
        flex-direction: row;
    }
    td.Witnesses__rank {
        white-space: nowrap;
    }
    td.Witnesses__info .Userpic {
        @media only screen and (max-width: 779px) {
            display: none;
        }
    }
    td.Witnesses__info .Userpic.disabled {
        opacity: 0.4;
    }
	.button {
		background-color: $color-text-blurt-red;
		text-shadow: 0 1px 0 rgba(0,0,0,0.20);
		transition: 0.2s all ease-in-out;
		&:hover {
			background-color: $color-blurt-red;
		}
	}
    div.Witnesses__info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        @media only screen and (max-width: 779px) {
            margin-left: 0;
        }
    }
    div.Witnesses__info a:first-child {
        font-weight: bold;
    }
    div.Witnesses__info .witness__thread a {
        @extend .link;
        @extend .link--primary;
    }
    div.Witnesses__highlight form input.input-group-field {
        box-shadow: 0px 0px 3px 3px pink;
    }
    div.Witnesses__description {
        display: block;
        width: calc(100% - 20px);
        max-width: 660px;
        font-style: italic;
        max-height: 5em;
        overflow-x: hidden;
        overflow-y: auto;
        margin-left: 20px;
        margin-bottom: 10px;
        border-bottom: 1px dotted #dcdcdc;
    }
    .Icon.Witnesses__permlink svg {
        width: 0.7rem;
        height: 0.7rem;
        margin-left: 10px;
    }
}


